.footer {
	background-color: $color-secondary;

	&-menu {
		@include flex(flex, column, no-wrap, space-between, center);
		margin: 0px;

		li {
			list-style-type: none;
			padding: 10px;

			a {
				text-decoration: none;
				color: $color-black;
				font-weight: 700;
			}
		}
	}

	&-social {
		@include flex(flex, row, no-wrap, space-between, flex-start);
		margin: 0px;
		padding-top: 70px;
		padding-left: 0px;

		li {
			list-style-type: none;
			padding: 10px;

			a {
				font-size: 35px;
				text-decoration: none;
				color: $color-black;
				font-weight: 700;
				transition: 0.5s ease-in;

				&:hover {
					position: relative;
					font-size: 49px;
				}
			}
		}
	}

	&-contact {
		@include flex(flex, column, no-wrap, space-between, left);
		margin: 0px;
		padding-top: 40px;

		li {
			list-style-type: none;
			padding: 10px;

			i {
				font-size: 17px;
			}
		}
	}

}
