.wrapper {
	overflow-x: hidden;
	width: 100%;

	.back-to-top {
		padding: 30px;
		background-color: $color-text*2;
		position: fixed;
		right: 100px;
		bottom: 120px;
		border-radius: 100%;
		opacity: 0.8;
		display: none;
		z-index: 1;

		i {
			font-size: 38px;
			color: $color-text;
		}
	}
}

.section {
	&-header:first-of-type {
		margin-bottom: 40px;
	}
}
