.business {
	background-color: $color-primary;
	padding: $padding*2 $padding*5;

	&-left {
		min-width: 500px;

		&-bar {
			width: 100%;
			height: 30px;
			padding: $padding/3;
			margin-bottom: $margin;
			border-radius: 8px;
			background-color: #E6E6E6;

			&-progress {
				width: 0;
				height: 100%;
				display: block;
				border-radius: 8px;
			  	background-color: rgb(43,194,83);
			  	box-shadow: 
			    inset 0 2px 9px  rgba(255,255,255,0.3),
			    inset 0 -2px 6px rgba(0,0,0,0.4);
			  	position: relative;
			  	overflow: hidden;
			  	transition: all 1.5s ease-in;

			  	&.blue {
			  		background-color: #A3B0F0;
	  				background-image: linear-gradient(to bottom, #A3B0F0, #304BD2);
			  	}

			  	&.purple {
			  		background-color: #C5A3F0;
	  				background-image: linear-gradient(to bottom, #C5A3F0, #8B35F8);
			  	}

			  	&.red {
			  		background-color: #f0a3a3;
	  				background-image: linear-gradient(to bottom, #f0a3a3, #f42323);	
			  	}
			}
		}
	}

	&-right {
		min-width: 500px;
	}
}