.courses-holder{
	background-color: $color-white;
	height: auto;
	padding: 20px;

	.courses {

		img{
			border-radius: 3%;
			box-shadow: 3px 3px 5px #c2c2c2;
		}

		.js-left {
			opacity: 0;
			transform: translatex(-20px);
			transition: 0.8s ease-in;
		}

		.js-right {
			opacity: 0;
			transform: translatex(20px);
			transition: 0.8s ease-in;
		}

		.js-go-side {
			opacity: 1;
			transform: translatex(0px);
		}
	}
}
