.news {
	padding: 45px 0px;

	#load {
		.load-col{
			@include flex(flex, column, no-wrap, space-between, center);

			&-title {
				width: 100%;
				max-height: 55px;
				margin: 0px;
				padding: 10px;
				border-radius: 8px;
				font-size: 14px;
				text-align: center;
				background-color: $color-secondary;
			}

			&-body {
				width: 85%;
				border-bottom-left-radius: 8px;
				border-bottom-right-radius: 8px;
				margin-top: 0px;
				border: 1px solid lighten($color-text, 50%);
				border-top: 0px;
				background-color: $color-background;
				color: $color-black;
				font-size: 14px;
				padding: 15px;
				opacity: 0;
				transform: translateY(-20px);
				transition: 0.8s ease-in;
				z-index: -3;
			}

			.js-go {
				opacity: 1;
				transform: translateY(0px);
			}

		}

	}

}
